
.dark-theme .card-category{ 
    background-color: var(--black); 
    color: var(--white);
    border:solid 2px var(--indigo-light);
}
.dark-theme .card-category:hover{border:solid 2px var(--white); } 
.dark-theme svg{fill: var(--indigo-light);}



.grid-container-planes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.card-category {
    padding: 80px;
    background-color: var(--white);
    color: var(--black);
    border:solid 2px var(--white);
}
.card-category:hover{
    cursor: pointer;
    border:solid 2px var(--indigo-light);
}

svg {fill: var(--indigo);}






