
body{
    min-height: 93dvh;
    background-color: var(--black);
}

main{
    width: 100%;
    min-height: 93dvh; 
    height: auto;
    padding: 24px;
    background-image: linear-gradient(to bottom, var(--black), var(--indigo), var(--black));

}

h2{color:var(--white)}

.title-4{
    color: var(--white);
    text-align: center;     
}
.inp-search {width: 38%; margin-top: 48px;}  
.inp-search input {width: 100%;}   




