<header class="flex-center-between-row">
    <h1 class="title-1"> EduQuest </h1>

    <ul class="flex-center-between-row">
        <li>
            <a class="text-medium">Cursos</a>
        </li>
        <li>
            <a class="text-medium">Planes</a>
        </li>
        <li>
            <a class="text-medium">Foro</a>
        </li>
    </ul>

    <button class="btn-primary"> Iniciar sesion </button>
</header>

<body class="flex-center-start-column">
    <main class="flex-center-center-column">
        <h2 class="title-2"> 
            Descubre, aprende, crece con la diversidad: <br>
            EduQuest, tu puerta al conocimiento
        </h2>
    </main>

</body>