.dark-theme .scroll-top-button { background: var(--indigo-light);}

.scroll-top-button {
    position: fixed;
    bottom: 90px;
    right: 30px;
    background: var(--indigo);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
