
.dark-theme svg{fill: var(--indigo-light);}
.dark-theme h2{color:var(--white)}
.dark-theme .price{color: var(--indigo-light);}
.dark-theme .current-card{  border:solid 2px var(--indigo-light);}
.dark-theme .card-plans {background-color: var(--black);}
.dark-theme .not-available{fill: var(--red);}

h2{color:var(--white)}
svg {fill: var(--indigo);}
section{
  padding-top: 56px;
}

.grid-container-planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.card-plans {
  position: relative;
  background-color: var(--white);
  border-radius: 10px;

}
.status-card  {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.card-body { 
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  border:solid 2px var(--white);
}
.btn{width: 100%;}
.price{color: var(--indigo);}

.membership-type {
  font-weight: 600;
}
.not-available{
  fill: var(--red);
}

/* estilos suscripcion actual */
.current-card {
  border:solid 5px var(--indigo);
  border-radius: 8px;
}
.current-card button{
  background-color: var(--dark);
  color: var(--gray);
}
.current-card button:hover{
  transform: none;
  cursor: auto;
  }

