body {
    background-color: var(--black);
 }

aside {
    background-color: var(--black);
    margin: 50px;
 }
section{
    margin:50px;
}

table {
    width: 400px;
    border-radius: 8px;
    background-color: var(--gray);
}

th{
    height: 40px;
    border-radius: 8px;
    background: radial-gradient(circle,var(--indigo) 0%, var(--black) 100%);
    color: var(--white);
}

th:nth-child(2), td:nth-child(2) {
    text-align: center;
}

td {
    padding: 10px;
    background-color: var(--white);
}
h3{font-weight: 600;}

textarea {
    width: 800px;
    height: 250px;
    border-radius: 8px;
    background-color: var(--gray);
}
.post-forum{
    width: 800px;
    min-height: 250px;
    border-radius: 8px;
   background-color: var(--white);
}
.header-post{
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--indigo);
    background: radial-gradient(circle,var(--indigo) 0%, var(--black) 100%);
    color: var(--white);
}

.header-post  p, img, svg {
    margin: 8px;
}
.content-post{
    width: 100%;
    min-height: 250px;
    height: calc(100% - 40px) ;
}

.content-text {
    overflow: auto;
    height: 250px;
}

.post-forum img{
    width: 100%;
    height: 24px;
    border-radius: 50%;
}
.header-post  svg{
    fill: var(--white);
}

.button-comment{ 
    fill: var(--indigo);
}


li{
    list-style: none;
}
.select-filter{
    width: 100%;
}

.comment{
    width: 100%;
    padding: 0px 12px 0px 12px;
}

.select-filter svg{
 fill: var(--indigo);
 background:none;
}

.title-comment{
    width: 100%;
    padding:0px 12px;
}

 .comment input{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: var(--gray);
}

.inp-search input {
    width: 100%;
    height: 34px;
    border-radius: 8px;
    margin-bottom: 0px;
}


input::placeholder{
   text-align: center;
}

.inp-search {width: 100%; }  
.inp-search input {width: 100%;} 

.button-comment:hover{
  transform: scale(1.1);
}

img{
    width: 800px;
    height: 300px;
    border-radius: 8px;
}


select{
    width: 150px;
   
}

.content-comment{
    width: 100%;
    padding: 0px 32px 0px 32px;
    
}

.content-comment p{
    background-color: var(--gray);
    border-radius: 8px;
    padding: 10px;
}

.header-comment {
    padding-left: 4px;
    width: 100%;
}

.header-comment svg {
fill: var(--indigo);
stroke: var(--indigo);

}


.show-more-comment{
    padding: 0 12px;
    width: 100%;
    cursor: pointer;
}

hr.style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* paginado fake */
.paginado-fake{
    color: var(--white);
}
.select-page{
    background-color: var(--indigo);
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.paginado-fake > p{
    margin: 0 10px;
}
button{width: 80px; margin: 0 10px;}