.dark-theme .card-general-profile{ background: radial-gradient(circle, var(--indigo-light) 0%, var(--black) 28%);}
.dark-theme .card-plans{background-color: var(--dark); color: var(--white);}
.dark-theme .current-card {border:solid 5px var(--indigo-light);}
.dark-theme svg{fill: var(--indigo-light);}
.dark-theme .not-available{fill: var(--red);}


body{
    background-color: var(--black);
}

section{
  width: 100%;
}

/* foto de perfil */
.card-general-profile{
    text-align: center;
    width: 100%;
    height: 550px;
    background: radial-gradient(circle, var(--indigo) 0%, var(--black) 28%);
}                                                                                                               

.card-general-profile img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

/* datos del usuario*/
.card-general-profile p{
    color: var(--white);
}


/* planes */

.card-plans  {
    width: 300px;
    position: relative;
    background-color: var(--white);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.status-card  {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .not-available{
    fill: var(--red);
  }

  svg{
    fill: var(--indigo);
  }

  .show-more{
    color: var(--white);
    cursor: pointer;
    
  }

  .show-more:hover{
    color: var(--white);
    transform: scale(1.05);
    text-decoration-line: underline;
  }
/* estilos suscripcion actual */
.current-card {
    border:solid 5px var(--indigo);
    border-radius: 8px;
  }
  .current-card button{
    background-color: var(--dark);
    color: var(--gray);
  }
  .current-card button:hover{
    transform: none;
    cursor: auto;
    }




