<app-menu-dashboard></app-menu-dashboard>

<body>
    <section>

        <!-- Sección de imagen -->

        <div class="flex-center-center-column ">
            <div class="card-general-profile flex-center-center-column">
                <img id="profile-image" class="mb-16" [src]="profileImage" alt="Foto de perfil">
                <p class="text-medium mb-16">&#64;Yisus</p>
                <p class="text-large mb-16">Jesus Benardo Noriega Gutierrez</p>
                <p class="text-medium mb-16">19690212&#64;tecnm.mx</p>
                <p class="text-small mb-16">10/10/2029</p>
            </div>

            <!-- Fin Sección de imagen -->

            <!-- Sección de Planes -->

            <div class="flex-center-between-row">
                <div class="current-card card-plans flex-center-center-column">
                    <div class="status-card btn-primary ">Actual</div>
                    <h2 class="text-large mt-16">Gratis</h2>
                    <p class="mb-16 mt-16 subtitle-3">0.00 MXN</p>
                    @if (ShowContent()) {
                    <ul class="flex-start-start-column">
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Anuncios</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Contenido profesional</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Acceso al foro</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="not-available svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                            </svg>
                            <a class="text-medium">Certificaciones</a>
                        </li>
                    </ul>
                }
                    <button class="btn-primary">comprar</button>
                </div>



                <div class=" card-plans flex-center-center-column">
                    <h2 class="text-large mt-16">Mensual</h2>
                    <p class="mb-16 mt-16 subtitle-3">300.00 MXN</p>
                    @if (ShowContent()) {
                    <ul class="flex-start-start-column">

                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Contenido profesional</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Acceso al foro</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Certificaciones</a>
                        </li>                    
                        <li class="flex-center-start-row mb-8">
                            <svg class="not-available svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                            </svg>
                            <a class="text-medium">Anuncios</a>
                        </li>
                    </ul>
                }
                    <button class="btn-primary">comprar</button>
                </div>



                <div class=" card-plans flex-center-center-column">
                    <h2 class="text-large mt-16">Anual</h2>
                    <p class="mb-16 mt-16 subtitle-3">3,000.00 MXN</p>
                    @if (ShowContent()) {
                    <ul class="flex-start-start-column">
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Contenido profesional</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Acceso al foro</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                            </svg>
                            <a class="text-medium">Certificaciones</a>
                        </li>
                        <li class="flex-center-start-row mb-8">
                            <svg class="not-available svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                            </svg>
                            <a class="text-medium">Anuncios</a>
                        </li>
                    </ul>
                }
                    <button class="btn-primary">comprar</button>
                </div>
            </div>
            @if (!ShowContent()) {
            <a (click)="ContentCards()" class="show-more text-small" >Ver más</a>
            }
            @if (ShowContent()) {
                <a (click)="ContentCards()" class="show-more text-small" >Ocultar</a>
                }
        </div>
    </section>
<section>
    @if (showForumProfile) {
        <app-profile-forum></app-profile-forum>
    }

    @if (showCoursesProfile) {
        <app-profile-courses></app-profile-courses>
    }
</section>

</body>



