
<app-menu-dashboard></app-menu-dashboard>
<body  [ngClass]="darkTheme() ? 'dark-theme flex-center-between-column' : 'flex-center-between-column'">
    <section>
        <h2 class="mt-24">Mis cursos</h2>
        <div class="grid-container-courses mt-24">
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos1.jpg" alt="calacas chidas">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Curso 1: </h3>       
                    <p class="text-small"> Angel Emanuel Castro Arellano</p>
                </span>
                </div>
        
            </div>
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos2.jpg" alt="calacas chidas">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Curso 2</h3>       
                    <p class="text-small"> Autor del curso</p>
                </span>
                </div>
            </div>
        
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos3.jpg" alt="calacas chidas">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Curso 3</h3>       
                    <p class="text-small"> Autor del curso</p>
                </span>
                </div>
            </div>
        </div>
    </section>

    
    <section>
        <h2>Explorar más cursos relacionados</h2>
        <div class="grid-container-courses mt-24">
        <div class="card-courses flex-stretch-center-column ">
            <img src="/assets/img/courses/cursos6.jpg" alt="calacas chidas">
            <div class="flex-center-between-row card-content">
            <span class="flex-start-start-column">        
                <h3 class="text-medium">Curso 6</h3>       
                <p class="text-small"> Autor del curso</p>
            </span>
            </div>
        </div>
     
        <div class="card-courses flex-stretch-center-column ">
            <img src="/assets/img/courses/cursos7.jpg" alt="calacas chidas">
            <div class="flex-center-between-row card-content">
            <span class="flex-start-start-column">        
                <h3 class="text-medium">Curso 7</h3>       
                <p class="text-small"> Autor del curso</p>
            </span>
            </div>
        </div>

        <div class="card-courses flex-stretch-center-column ">
            <img src="/assets/img/courses/cursos9.jpg" alt="calacas chidas">
            <div class="flex-center-between-row card-content">
            <span class="flex-start-start-column">        
                <h3 class="text-medium">Curso 9</h3>       
                <p class="text-small"> Autor del curso</p>
            </span>
            </div>
        </div>
     
        <div class="card-courses flex-stretch-center-column ">
            <img src="/assets/img/courses/cursos10.jpg" alt="calacas chidas">
            <div class="flex-center-between-row card-content">
            <span class="flex-start-start-column">        
                <h3 class="text-medium">Curso 10</h3>       
                <p class="text-small"> Autor del curso</p>
            </span>
            </div>
        </div>
    
        <div class="card-courses flex-stretch-center-column ">
            <img src="/assets/img/courses/cursos5.jpg" alt="calacas chidas">
            <div class="flex-center-between-row card-content">
            <span class="flex-start-start-column">        
                <h3 class="text-medium">Curso 5</h3>       
                <p class="text-small"> Autor del curso</p>
            </span>
            </div>
        </div>
     
        </div>
    </section>


        <div class="paginado-fake flex-center-center-row mt-24">
            <button class="btn-primary">Atras</button>
            <P class="btn-primary select-page flex-center-center-row">1</P>

            <button class="btn-primary">Siguiente</button>
        </div>
        

</body>
