
<app-menu-dashboard></app-menu-dashboard>
<body  [ngClass]="darkTheme() ? 'dark-theme flex-center-between-column' : 'flex-center-between-column'">
    <section>
        <h2 class="mt-24">Mis cursos</h2>
        <div class="grid-container-courses mt-24">
            <div class="card-courses flex-stretch-center-column">
                <img src="/assets/img/courses/cursos10.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Creación de sitios web</h3>       
                    <p class="text-small"> Fidel Romero Rodríguez García</p>
                </span>
                </div>
            </div>

            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos6.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Curso para emprendedores</h3>       
                    <p class="text-small"> Jorge Eduardo Rivera Ruiz</p>
                </span>
                </div>
            </div>
        
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos3.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Ingles nivel intermedio</h3>       
                    <p class="text-small"> Laura Paola Vargas Cruz</p>
                </span>
                </div>
            </div>

        </div>
    </section>

    
    <section>
        <h2>Explorar más cursos relacionados</h2>
        <div class="grid-container-courses mt-24">
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos9.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Cómo escribir para la web</h3>       
                    <p class="text-small"> Brisa Barbosa Salinas Ortiz</p>
                </span>
                </div>
            </div>
            
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos12.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">React desde cero</h3>       
                    <p class="text-small"> Diego Andrés Ramírez Castillo</p>
                </span>
                </div>
            </div>

            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos15.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Java Script desde cero</h3>       
                    <p class="text-small"> Fernando Enrique Sánchez Torres</p>
                </span>
                </div>
            </div>  

            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos5.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Angular de cero a experto</h3>       
                    <p class="text-small"> Gabriela Teresa Méndez Herrera</p>
                </span>
                </div>
            </div>
     
            <div class="card-courses flex-stretch-center-column ">
                <img src="/assets/img/courses/cursos11.jpg" alt="Imagen de cursos">
                <div class="flex-center-between-row card-content">
                <span class="flex-start-start-column">        
                    <h3 class="text-medium">Marketing digital</h3>       
                    <p class="text-small">Alejandro Rafael Pérez Rodríguez</p>
                </span>
                </div>
            </div> 
        </div>
    </section>


        <div class="paginado-fake flex-center-center-row mt-24">
            <button class="btn-primary">Atras</button>
            <P class="btn-primary select-page flex-center-center-row">1</P>

            <button class="btn-primary">Siguiente</button>
        </div>
        

</body>
