.dark-theme .card-category{ 
    background-color: var(--black); 
    color: var(--white);
    border:solid 2px var(--white);
}
.dark-theme .card-category:hover{border:solid 2px var(--indigo-light); } 
.dark-theme svg{fill: var(--indigo-light);}
.dark-theme h2{color:var(--white)}

.card-category {
    padding: 30px;
    background-color: var(--white);
    color: var(--black);
    border:solid 2px var(--white);
}

.card-category:hover{
    cursor: pointer;
    border:solid 2px var(--indigo-light);
}

svg {fill: var(--indigo);}

section{
    background: var(--black);
}


