
footer{
    width: 100%;
    padding: 24px 0;
    background-color: var(--black);
}

ul{
    width: 100%;
    padding-bottom: 24px;
}
li{
    width: 400px;
}

svg{
    width: 32px;
    height: 32px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
    fill: var(--white);
}

svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}

a{ cursor: pointer; color: var(--white);}
a:hover{ color: var(--indigo); }

p{color: var(--white);}

.logo{ color: var(--indigo-light); }
.logo{ margin: 0 16px; width: 200px; }


hr.style {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}