<app-menu-dashboard></app-menu-dashboard>

<body [ngClass]="darkTheme() ? 'dark-theme flex-start-evenly-row' : 'flex-start-evenly-row'">
    <section class="mt-24">
        <h3 class="title-3">DESARROLLO WEB 1</h3>
        <ul class="time-line">
            <li>
                <div class="in-circle in-circle-current"></div>
                <div class="time-line-content flex-center-between-row"  (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">Lección 1: Las bases necesarias para programación estructurada</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:02:34 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>

            <li>
                <div class="in-circle"></div>
                <div class="time-line-content flex-center-between-row" (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">Lección 1: Las bases necesarias para programación estructurada</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:02:34 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>

            <li>
                <div class="in-circle"></div>
                <div class="time-line-content flex-center-between-row" (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">Lección 1: Las bases necesarias para programación estructurada</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:02:34 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>

            <li>
                <div class="in-circle"></div>
                <div class="time-line-content flex-center-between-row" (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">Lección 1: Las bases necesarias para programación estructurada</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:02:34 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>
        </ul>
    </section>

    <section class="flex-center-start-column mt-24">
        <div class="video-container mt-8">
            <img src="/assets/img/courses/cursos9.jpg" alt="cursos">
        </div>
        <div class="flex-center-between-row footer-video">

            <h3>Lección 1: Las bases necesarias para programación estructurada</h3>
            <button class="btn-primary flex-center-center-row">
                <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                </svg>
                <p>Reproducir</p>
            </button>
        </div>
        <div class="description">
            <p>En la Lección 1: Las bases necesarias para programación estructurada, exploraremos los fundamentos
                esenciales que todo programador debe dominar para desarrollar software de manera eficiente y
                estructurada. Desde los conceptos básicos de algoritmos hasta la lógica de control de flujo, esta clase
                proporcionará una sólida comprensión de los pilares sobre los que se construye la programación
                estructurada. Los estudiantes aprenderán cómo escribir código claro y organizado, lo que les permitirá
                abordar problemas complejos de manera sistemática y eficaz.
            </p>
        </div>
    </section>
</body>