<app-menu-dashboard></app-menu-dashboard>

<body [ngClass]="darkTheme() ? 'dark-theme flex-start-evenly-row' : 'flex-start-evenly-row'">
    <section class="mt-24">
        <h3 class="title-3">Creación de sitios web</h3>
        <ul class="time-line">
            <li>
                <div class="in-circle in-circle-current"></div>
                <div class="time-line-content flex-center-between-row"  (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">Introducción al Desarrollo Web</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:22:34 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>

            <li>
                <div class="in-circle"></div>
                <div class="time-line-content flex-center-between-row" (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">HTML y CSS Básico</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:36:54 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>

            <li>
                <div class="in-circle"></div>
                <div class="time-line-content flex-center-between-row" (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">JavaScript para Principiantes</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:35:21 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>

            <li>
                <div class="in-circle"></div>
                <div class="time-line-content flex-center-between-row" (click)="redirectToContentClass()">
                    <span>
                        <p class="mt-8 mb-8 text-medium">Diseño Responsivo y Usabilidad</p>
                        <p class="mt-8 mb-8 text-small">Duración: 00:42:64 </p>
                    </span>
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                </div>
            </li>
        </ul>
    </section>

    <section class="flex-center-start-column mt-24">
        <div class="video-container mt-8">
            <img src="/assets/img/courses/cursos10.jpg" alt="cursos">
        </div>
        <div class="flex-center-between-row footer-video">

            <h3>Introducción al Desarrollo Web</h3>
            <button class="btn-primary flex-center-center-row" (click)="redirectToContentClass()">
                <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                </svg>
                <p>Reproducir</p>
            </button>
        </div>
        <div class="description">
            <p>Descripción: Este curso está diseñado para guiarte en el proceso completo de creación de sitios web, desde los conceptos básicos hasta el desarrollo avanzado. Aprenderás a utilizar herramientas y lenguajes esenciales como HTML, CSS y JavaScript para construir sitios web atractivos y funcionales. Además, te adentrarás en técnicas de diseño responsivo y usabilidad, asegurando que tus sitios web se vean y funcionen bien en cualquier dispositivo. 
            </p>
        </div>
    </section>
</body>