:root{
    --indigo: #47026cff;
    --indigo-sec: #7371fcff;
    --indigo-light: #a594f9ff;
    --red: #bb0a21;
    --gray: #e2e2e2ff;
    --white : #fffffc;
    --black: #171618;
    --dark: #333333ff;
    --orange: #ffad1fda;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
/* Estilos para navegadores webkit */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: var(--gray);}
::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 6px;
}

/* Escala tipografica */
.title-1{ font-size: 36.49px; font-weight: 600; }
.title-2{ font-size: 32.44px; font-weight: 600; }
.title-3{ font-size: 28.83px; font-weight: 600; }
.title-4{ font-size: 50.49px; font-weight: 600; }

.subtitle-1{ font-size: 25.63px; }
.subtitle-2{ font-size: 22.78px; }
.subtitle-3{ font-size: 20.25px; }

.text-large, .inp-form, .inp-search{ font-size: 18px; }
.text-medium{ font-size: 16px; }
.text-small, .btn-primary{ font-size: 14px; }
.text-extra-small{font-size: 12px;}

/* Contenedores */
.container{
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 15px 40px rgba(0,0,0,0.2), -0px -15px 40px rgba(0,0,0,0.2);
}

/* Padding Margin */
.mt-24{ margin-top: 24px; }
.mt-16{ margin-top: 16px; }
.mt-8{ margin-top: 8px; }

.mb-24{ margin-bottom: 24px; }
.mb-16{ margin-bottom: 16px; }
.mb-8{ margin-bottom: 8px; }

/* Layouts */
.flex-center-start-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.flex-center-center-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.flex-center-between-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.flex-center-evenly-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.flex-center-end-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.flex-center-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex-center-start-column{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.flex-center-end-column{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.flex-center-evenly-column{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.flex-start-start-column{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}

.flex-stretch-center-column{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.grid-container-courses {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
}


/* Headers */
.svg-header{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Etiquetas formulario */
.field-form{
    display: flex;
    align-items: center;
}
.field-form svg{
    width: 20px;
    height: 20px;
    fill: var(--indigo);
    margin-right: 8px;
}

.password-field-form {position: relative;}
.password-field-form input {width: calc(100% - 24px);padding-right: 32px;}
.password-field-form svg {
    width: 16px;
    height: 16px;
    fill: var(--indigo);
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 8px;
    background-color: var(--white);
    cursor: pointer;
}

/* Inputs */
input::placeholder{
    font-weight: 500;
    opacity: 0.8;
}
.inp-form{
    padding: 4px 8px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid var(--gray);
    outline: none !important;
    offset: none !important;
}
.inp-form:focus{ border: 2px solid var(--indigo); }

.inp-search {position: relative;}
.inp-search input {width: calc(100% - 24px);padding:12px 32px 12px 32px;}
.inp-search svg {
    width: 16px;
    height: 16px;
    fill: var(--indigo);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background-color: var(--white);
}

/* Selectores */
.select-form{}
.select-filter{}

/* Botones */
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.btn-primary{
    padding: 8px 8px;
    border-radius: 4px;
    background-color: var(--indigo);
    color: var(--white);
    font-weight: 600;
}
.btn-secondary{
    padding: 8px 8px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--indigo);
    border: 1px solid var(--indigo);
    font-weight: 600;   
}

/* Modo oscuro */
.dark-theme{ color: var(--white);}
.dark-theme .btn-primary{ background-color: var(--indigo-light); color: var(--black); }
.dark-theme .btn-secondary{ color: var(--white); border-color: var(--white); }
.dark-theme .inp-form{ background-color: var(--dark); border-color: var(--dark); color: var(--white); }
.dark-theme .inp-search input{ background-color: var(--black); border-color: var(--indigo-light); color: var(--white); }
.dark-theme input::placeholder{  opacity: 0.6; color: var(--white); }
.dark-theme .password-field-form svg{ background-color: var(--dark); fill: var(--indigo-light); }
.dark-theme .inp-search svg{ background-color: var(--black); fill: var(--indigo-light); }
.dark-theme .field-form svg{ fill: var(--indigo-light); }
.dark-theme .inp-form:focus{ border: 2px solid var(--indigo-light); }
.dark-theme .inp-search:focus{ border: 2px solid var(--white); }
.dark-theme .inp-search:focus svg{ fill: var(--white); }
/* Responsivo */
@media (min-width : 301px) and (max-width : 600px){
    .title-1{ font-size: 28.38px; }
    .title-2{ font-size: 25.23px; }
    .title-3{ font-size: 22.43px; }
    
    .subtitle-1{ font-size: 19.93px; }
    .subtitle-2{ font-size: 17.72px; }
    .subtitle-3{ font-size: 15.75px; }
    
    .text-large, .inp-form, .inp-search{ font-size: 14px; }
    .text-medium{ font-size: 12.44px; }
    .text-small, .btn-primary, .btn-secondary{ font-size: 11.06px; }

    .grid-container {grid-template-columns: repeat(1, 1fr);}
    .grid-container-courses {grid-template-columns: repeat(1, 1fr);}
}

@media (min-width : 601px) and (max-width : 1100px){
        
    .title-1{ font-size: 32.44px; }
    .title-2{ font-size: 28.83px; }
    .title-3{ font-size: 25.63px; }
    
    .subtitle-1{ font-size: 22.78px; }
    .subtitle-2{ font-size: 20.25px; }
    .subtitle-3{ font-size: 18px; }
    
    .text-large, .inp-form, .inp-search{ font-size: 16px; }
    .text-medium{ font-size: 14.22px; }
    .text-small, .btn-primary, .btn-secondary{ font-size: 12.64px; }
    
    .grid-container {grid-template-columns: repeat(2, 1fr);}
    .grid-container-courses {grid-template-columns: repeat(2, 1fr);}

}