@if (!isAuth()) {
    <app-menu-home></app-menu-home>
  }@else{
    <app-menu-dashboard></app-menu-dashboard>
  }
<body [ngClass]="darkTheme() ? 'dark-theme flex-center-center-column' : 'flex-center-center-column'">

<!-- input de busqueda -->

<section class="flex-center-center-column">
    <div class="inp-search flex-center-center-row" >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
    </svg>
    <input type="text" class="inp-form mb-24 mt-24" placeholder="Buscar">
</div>
</section> 

 <!-- carrusel de categorias -->

 <section>
    <div class="card-container flex-center-center-row mt-24 mb-24">
        <button (click)="prevCard()" class= "btn-primary nav-button" [class.hidden]="currentIndex === 0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/>
            </svg>
        </button>
        <div class="carousel flex-center-center-row">
            @for (card of visibleCards; track $index) {
                <div class="card-category flex-center-center-row">
                    <div class="icon" [innerHTML]="card.icon"></div>
                    <div class="title">{{ card.title }}</div>
                </div>
            }
        </div>
        <button (click)="nextCard()" class="btn-primary nav-button" [class.hidden]="currentIndex >= cards.length - 6">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/>
            </svg>
        </button>
    </div>
 </section>

 <!-- Filtros cards  -->

<section class="select-filter flex-center-end-row text-extra-small">
    <div class="mt-24">
    <select name="filtro-1">
        <option value="none" selected>Fecha</option>
        <option value="value1" >2022</option>
        <option value="value2">2023</option>
        <option value="value3">2024</option>
      </select>

      <select name="filtro-2">
        <option value="none" selected>Autor</option>
        <option value="value1" >Autor 1</option>
        <option value="value2">Autor 2</option>
        <option value="value3">Autor 3</option>
      </select>

      <select name="filtro-3">
        <option value="none" selected>Categoría</option>
        <option value="value1" >Gastronomía</option>
        <option value="value2">Salud y Deportes</option>
        <option value="value3">Marketing y Ventas</option>
        <option value="value4">Finanzas</option>
        <option value="value5">Programación</option>
        <option value="value6">Diseño</option>
        <option value="value7">Idiomas</option>
        <option value="value8">Música</option>
      </select>
    </div>
</section> 


<!-- cards de los cursos  -->

<section>
<div class="grid-container-courses mt-24">

    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos1.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 1: </h3>       
            <p class="text-small"> Angel Emanuel Castro Arellano</p>
        </span>
        </div>

    </div>
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos2.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 2</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>

    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos3.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 3</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>

    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos4.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 4</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos5.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 5</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos6.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 6</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos7.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 7</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos8.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 8</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos9.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 9</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos10.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 10</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>

    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos5.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 5</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos6.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 6</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>
 
    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos7.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 7</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>

    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos3.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 3</h3>       
            <p class="text-small"> Autor del curso</p>
        </span>
        </div>
    </div>

    <div class="card-courses flex-stretch-center-column ">
        <img src="/assets/img/courses/cursos4.jpg" alt="calacas chidas">
        <div class="flex-center-between-row card-content">
        <span class="flex-start-start-column">        
            <h3 class="text-medium">Curso 4</h3>       
            <p class="text-medium"> Autor del curso</p>
        </span>
        </div>
    </div>  
</div>

<!-- paginado fake -->
</section>
<div class="paginado-fake flex-center-center-row mt-24">
    <button class="btn-primary">Atras</button>
    <P class="btn-primary select-page flex-center-center-row">1</P>
    <P>2</P>
    <P>3</P>
    <P>4</P>
    <P>5</P>
    <P>6</P>
    <button class="btn-primary">Siguiente</button>
</div>
</body>


